html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.geral {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}
.principal {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.cabecalho {
    
    min-height: 150px;
}
.conteudo {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.rodape {
    padding: 0 20px;
    min-height: 150px;
    
}